/* styles/global.scss */

@import "variables";
@import "fontstyle";
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=MedievalSharp&family=Mystery+Quest&display=swap");

.frame-wrapper {
  height: 100vh;

  .frame-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-image: url("/images/czard-bg-desktop-test2.png");
    background-size: 100% 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    background-image: url(/images/czard-bg-desktop-test2.png);
    left: 0;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 992px) {
      background-image: url("/images/czard-mobile-bg.png");
    }
  }

  .main-bg {
    background: repeating-linear-gradient(
        45deg,
        rgba(226, 226, 226, 0.06) 0px,
        rgba(226, 226, 226, 0.06) 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33));
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  .main-content {
    position: relative;
    z-index: 2;
    height: 100vh;
  }

  .frame-content {
    position: relative;
    // width: 100%;
    // left: 0;
    // right: 0;
    // bottom: 0;
  }

  .social-items-wrapper {
    font-size: 14px !important;
  }

  .video {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;

    @media screen and (max-width: 992px) {
      opacity: 0.2;
    }
    .video-wrapper {
      width: 300px;
      margin: auto;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        -webkit-mask: radial-gradient(
          circle,
          #0000000d 145px,
          rgb(0 0 0) 145px
        );
        background: repeating-linear-gradient(
            45deg,
            rgba(226, 226, 226, 0.06) 0px,
            rgba(226, 226, 226, 0.06) 2px,
            transparent 2px,
            transparent 4px
          ),
          linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33));
      }
    }
  }

  .hero-wrapper {
    min-height: 450px;
    margin: auto;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 992px) {
      min-height: 230px;
      max-width: 200px;
    }
    .description-section-wrapper {
      margin: auto;
    }
  }

  .roadmap-container-wrapper {
    height: 450px;
    display: flex;

    @media screen and (max-width: 992px) {
      height: 250px;
      width: 100%;
      margin: auto;
      margin-bottom: 30px;
    }
    .roadmap-container {
      text-align: center;
      margin: auto;
      .roadmap-wrapper {
        width: 550px;
        height: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("/images/czard-roadmap-card.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 992px) {
          width: 300px;
        }
        .roadmap-points {
          .points {
            padding: 15px 0 15px 20px;
            display: block;
            @media screen and (max-width: 992px) {
              padding: 30px 0 30px 20px;
            }
            .magic-text {
              font-size: 13px;
              @media screen and (max-width: 992px) {
                font-size: 14px;
                letter-spacing: 0.4px;
                line-height: 16px !important;
              }
            }
          }
        }
        .roadmap-point-wrapper {
          .roadmap-point {
            display: block;
          }
        }
      }
    }
  }

  .spellbook-container-wrapper {
    height: 100vh;
    @media screen and (max-width: 992px) {
      height: auto;
    }
    display: flex !important;
    .spellbook-wrapper {
      margin: auto;

      &.desktop {
        .spellbook-content {
          width: 380px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: url("/images/czard-social-box.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .spellbook-title-wrapper {
        .title {
          margin-bottom: 5px;
          .magic-text {
            font-size: 26px;
            @media screen and (max-width: 992px) {
              font-size: 16px;
              margin-top: 30px!important;
            }
          }
        }
      }

      .contract-section-wrapper {
        .contract-section {
          height: 450px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-repeat: no-repeat;
          background-size: cover;

          @media screen and (max-width: 992px) {
            height: 250px;
          }
          .contract-text {
            font-size: 15px;
            text-decoration: none;
            color: #fff;
            letter-spacing: 1.2px;
          }

          @media screen and (max-width: 992px) {
            width: 100%;
            height: 260px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-bottom: 15px !important;
          }
        }
      }
    }
  }

  .contract-box{
    border-radius: 9px;
    padding: 2px 8px;
    margin-bottom: 10px;
    display: flex;
    border: 1px solid #FFC000;
    display: flex;
    justify-content: center;
    .copy-box{
      background-color: transparent;
      box-shadow: none;
      border: none;
      margin: auto 2px;
      width: 25px;
      cursor: pointer;
    }
  }

  .social-items-wrapper {
    width: 180px;
    .social-item-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      .button-wrapper {
        width: 35px;
        display: flex;
        border: 1px solid #ffc107;
        padding: 6px;
        border-radius: 8px;
        box-shadow: 1px 1px 10px 2px #aba129;
        transition: all 0.1s ease-in-out;
        cursor: pointer;
        img{
          width: 100%;
        }
          &:hover {
            box-shadow: 1px 1px 10px 6px #aba129;
          }

        @media screen and (max-width: 992px) {
          width: 25px;
          padding: 5px;
        }
      }
    }
  }
}

.description-section-wrapper {
  height: 100%;
  display: flex;
  .magic-container {
    margin: auto;
    max-width: 350px;
  }
}
