@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=MedievalSharp&family=Mystery+Quest&display=swap');

body {
  font-family: 'Mystery Quest', sans-serif;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 10px var(--shadow-color-light),
    0 0 10px var(--shadow-color), 0 0 5px var(--shadow-color), 0 0 10px var(--shadow-color), 0 0 20px var(--shadow-color), 0 0 20px var(--shadow-color), 0 0 20px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 15px var(--shadow-color), 0 0 20px var(--shadow-color), 0 0 25px var(--shadow-color), 0 0 30px var(--shadow-color), 0 0 28px var(--shadow-color), 0 0 40px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 10px var(--shadow-color-light),
    0 0 10px var(--shadow-color), 0 0 5px var(--shadow-color), 0 0 10px var(--shadow-color), 0 0 20px var(--shadow-color), 0 0 20px var(--shadow-color), 0 0 20px var(--shadow-color);
  }
}

:root {
  --shadow-color: #FFC000;
  --shadow-color-light: #FFC70B;
}

